#foo{
	background: url("../imgs/blue.jpg");
}

#bar{
	background-image: url("../imgs/blue.jpg");
}

#foobar{
	background-image: url('../imgs/gold.png');
}

#barfoo{
	background-image: url( '../imgs/gold.png');
}

#barnofoo{
	background-image: url( "../imgs/gold.png" );
}

#nobarnofoo{
	background-image: url( "imgs/orange.png" );
}